<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <p><%= notice %></p>
        <h1>ブログ一覧</h1>
            <%= link_to "ブログを作成する", new_blog_path, class: 'btn btn-default' %>
            <% @users.blogs.each do |user| %>
                <div class="row">
                    <h4><strong><%= user.title %></strong></h4>
                    <p><%= user.content %></p>
                    <%= link_to "編集", edit_blog_path(user.id), class: 'btn btn-default btn-sm btn-success' %>
                    <%= link_to "削除", blog_path(user.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>

                    <p><%= @users.name %></p>
                </div>
            <% end %>
            <div id="page-top-btn-blog" class="page-top-btn-blog">
                <p><a class="move-page-top" id="move-page-top">▲</a></p>
            </div>
    </div>
</div>